.about[b-wtdrqwt8pj], .experiences[b-wtdrqwt8pj], .educations[b-wtdrqwt8pj], .skills[b-wtdrqwt8pj] {
    margin: 10px 0;
    margin-bottom: 15px;
  
    /* background: #181818;
    box-shadow: 0 0 5px black inset; */
    padding: 15px;
  }
  
    