.about[b-o95dxwbfwh], .experiences[b-o95dxwbfwh], .educations[b-o95dxwbfwh], .skills[b-o95dxwbfwh] {
    margin: 10px 0;
    margin-bottom: 15px;
  
    /* background: #181818;
    box-shadow: 0 0 5px black inset; */
    padding: 15px;
  }
  
    